body {
    font-size: 10px;
    margin: 0;
}

.page-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    position: relative;
}

.left-image-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-card {
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cat-image {
    height: 100%;
    width: 100%;
}

.image-desc {
    text-align: center;
    font-size: 2rem;
}

.right-info-container {
    font-size: 1.5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#a88732, white);
}

.right-info-panel {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item-list {
    line-height: 25px;
    margin: 50px;
    width: 50%;
}

.info-title {
    text-align: center;
}

li {
    margin-bottom: 10px;
}

.bottom-text {
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-size: 1.2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}